{% extends "../../layouts/admin.html" %}

{% block admin_content %}
    <!-- Page content -->
    <div class="container-fluid " style="margin-top:20px;">
        <nav class="d-flex title-dash  " aria-label="breadcrumb">
            <ol class="breadcrumb mt-2 mb-2 w-100 py-3 shadow-theme">
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Etudiants</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row justify-content-md-start justify-content-sm-center mb-3 ">

                {% if request.session.user.role == 'superadmin' or request.session.user.role == 'admin' %}
                    <div class="col-md-2 col-sm-12 p-3 text-left">
                        <a href="/admin/student/add" class="btn btn-info">
                            <i class="fa fa-user-plus"></i> Nouveau</a>
                    </div>
                    <div class="col-md-4 col-sm-12 p-3 text-center">
                        <form method="post" action="/admin/student/excel" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-secondary btn-file">
                                    Browse&hellip; <input type="file"  id="file"
                                    name="file" single required>
                                        </span>
                                    </span>
                                    <input type="text" placeholder="Charger via excel . . ." class="form-control" readonly>
                                    <span class="input-group-addon pl-r">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-upload  text-white"></i> Charger</button>
                                    </span>
                                </div>

                            </div>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 m-0 p-0">
                    <div class="card shadow-theme border-1 card-theme card-radius-5">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button">
                                List des etudiant(<span id="studentNumber">{{students | length}}</span>)
                                </button>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 py-3">
                                    <input type="search" class="form-control search-control" placeholder="Recherche" id="searchStudent" name="search" >
                                </div>

                                <div class="col-md-2 col-sm-6 p-3 text-center">
                                    <div class="form-inline justify-content-center">
                                        <div class="form-group">
                                            <label for="searchcategory" class="mr-1">Categorie </label>
                                            <select class="form-control" id="searchcategory">
                                                <option value="Tous">Tous</option>
                                                <option {% if request.query.category === "A" %} selected {% endif %}>A</option>
                                                <option {% if request.query.category === "B" %} selected {% endif %}>B</option>
                                                <option {% if request.query.category === "C" %} selected {% endif %} >C</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 p-3 text-center">
                                    <div class="form-inline justify-content-center">
                                        <div class="form-group">
                                            <label for="searchcategory" class="mr-1">Afficher </label>
                                            <select  class="form-control" name='length_change' id='length_change'>
                                                <option value='5'>5</option>
                                                <option value='10'>10</option>
                                                <option value='20'>20</option>
                                                <option value='50'>50</option>
                                                <option value='100'>100</option>
                                                <option value='200'>200</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 
                            </div>
                            <table class="table table-hover table-bordered table-responsive-lg" id="studentList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th scope="col">Matricule</th>
                                        <th scope="col">Catégorie</th>
                                        <th scope="col">Nom et Prénom</th>
                                        <th scope="col">Grade</th>
                                        <th scope="col">Filière</th>
                                        <th scope="col">Ecole</th>
                                        <th scope="col">Présence</th>
                                        
                                        <th scope="col">Droit d'inscription</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                        <tr>
                                        <td>
                                        {# <img src="/static/assets/profile/students/{{student.image}}" class="rounded-circle" height="50" width="50" /> #}
                                        {{ student.id}}
                                        </td>
                                            <th scope="row">{{ student.matricule}}</th>
                                            <td>{{ student.category}}</td>
                                            <td>{{ student.name | upper }}
                                                {{ student.lastname |title }}</td>
                                            <td>{{ student.grade}}</td>
                                            <td>{{ student.field}}</td>
                                            <td>{{ student.school}}</td>
                                            <td>{{ student.presences | length }}</td>
                                          
                                            <td class="text-center">
                                                {% if request.session.user.role == "superadmin" or request.session.user.role == "admin" %}
                                                <input type="checkbox" onclick="toogleCheck(this,{{student.id}})"  value="{{student.id}}" class="form-check-input" {% if student.present == "1" %} checked {% endif %}/>
                                                {% endif %}
                                                <span style="opacity:0;" id="span{{student.id}}">{{ student.present}}<span>
                                            </td>
                                            
                                            <td>
                                                <a type="button" class="btn btn-outline-success m-1 d-inline" style="border-radius:20px !important;" data-toggle="modal" data-target="#modal_aside_right{{student.id}}">
                                                    <i class="fa fa-eye"></i> Voir</a>
                                                {# {% if request.session.user.role == "admin" or request.session.user.role == "superadmin" %}
                                                    <a type="button" class="btn btn-outline-info m-1 " style="border-radius:20px !important;" href="/admin/student/edit/{{student.id}}">
                                                        <i class="fa fa-edit"></i> Edit</a>
                                                {% endif %} #}
                                                {% if request.session.user.role == "superadmin" %}
                                                    <a type="button" class="btn btn-outline-danger m-1" style="border-radius:20px !important;" data-toggle="modal" data-target="#deleteStudent{{student.id}}">
                                                        <i class="fa fa-trash"></i> Suppr.</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- Modal -->
                {% for student in students %}
                    <div id="modal_aside_right{{student.id}}" class="modal fixed-left " tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-aside" role="document">
                            <div class="modal-content">
                                <div class="modal-header  text-center font-weight-bold">
                                    <h5 class="modal-title">Information etudiant</h5>
                                    <button type="button" class="text-white close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row justify-content-center my-3">
                                        <div class="profile-border">
                                            <img src="/static/assets/profile/students/{{ student.image}}" width="100" height="100" alt="" class="rounded-circle border-1">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center  mb-2">
                                        <h6>{{ student.lastname}}</h6>
                                    </div>
                                    <div class="row justify-content-center mb-2">
                                        <h6>{{ student.name}}</h6>
                                    </div>
                                    <div class="row justify-content-center mb-2">
                                        <h6 class="font-weight-bold">Catégorie {{ student.category}}</h6>
                                    </div>
                                    <div class="row justify-content-center mb-2">
                                        <h6 class="font-weight-bold">Matricule {{ student.matricule}}</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Grade
                                <span class="badge badge-info badge-pill">{{student.grade}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Filiére/Parcours
                                <span class="badge badge-info badge-pill">{{student.field}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Ecole
                                <span class="badge badge-info badge-pill">{{student.school}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Numero tél
                                <span class="badge badge-info badge-pill">{{student.phone}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Email
                                <span class="badge badge-info badge-pill">{{student.email}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nombre de présence
                                <span class="badge badge-success badge-pill">{{ student.presents | length }}</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                    <a type="button" class="btn btn-info" href="/admin/student/edit/{{student.id}}">Modifier</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal delete-->
                    <div class="modal animate__animated animate__zoomIn " id="deleteStudent{{student.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/admin/student/delete" method="post">
                                    <input type="hidden" name="id" value="{{student.id}}"/>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Suppression Etudiant</h5>
                                        <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <h6 id="de_title">Comfirmer vous la suppression de l'étudiant  <b>
                                                    {{ student.name}}
                                                    {{ student.lastname}}
                                                </b> avec matricule  <b>{{ student.matricule}}</b>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $
            .fn
            .dataTable
            .ext
            .search
            .push(function (settings, data, dataIndex) {
                var cat = $('#searchcategory').val();
                var categ = data[2] || "";
                if (cat === "Tous") {
                    return true;
                } else if (cat === categ) {
                    return true;
                }
                return false;
            });
        $
            .fn
            .dataTable
            .ext
            .search
            .push(function (settings, data, dataIndex) {
                var cat = $('#searchStudent')
                    .val()
                    .toLowerCase();
                var name = data[3].toLowerCase();
                var lastname = data[4].toLowerCase();
                var matricule = data[1].toLowerCase();
                if (cat === "") {
                    return true;
                } else if (matricule.includes(cat) || name.includes(cat) || lastname.includes(cat)) {
                    return true;
                }
                return false;
            });


        function toogleCheck(el,id) {
                var id = $(el).val();
                var data = {
                    id: id
                }
                var state = false;
                if ($(el).is(":checked")) {
                    data['present'] = 1;
                    state = true;
                } else {
                    data['present'] = null;
                }
                $(el).attr('checked',state);
                $('#span'+id).text(data['present'] || 0);
                var parent = $(el).parent()
                var oldhtml = parent.html();
                parent.html('<div class="spinner-border" style="height:1rem;width:1rem;"  role="status"><span class="sr-only">Loading...</span></div>')
                $.ajax({
                    type: "POST",
                    url: "/admin/student/edit",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        parent.html(oldhtml);
                        $("#statePay" + id).prop("checked", state);
                        

                    },
                    error: function (errMsg) {
                        parent.html(oldhtml)
                        $("#statePay" + id).prop("checked", state);
                    }
                });
            }

        $(document).ready(function () {
            var oTable = $('#studentList').DataTable({
                "sDom": "rtipl",
                "pageLength": 5,
                "language": {
                    "url": "/static/dist/french.json"
                },
                "aoColumnDefs": [
                    {
                        "bSortable": false,
                        "aTargets": [0,  7, 9]
                    },
                    {
                    "aTargets": [8],
                    "mRender": function(data, type, full) {
                            if(type == 'sort'){
                                console.log(data,type,full)
                            }

                            return data;
                        }
                    }
                ]
            });
            $('#length_change').val(oTable.page.len());
            $('#length_change').change(function () {
                oTable
                    .page
                    .len($(this).val())
                    .draw();
            });
            $('#searchStudent').on('change input', function () {
                oTable.draw();
                var length = oTable
                    .rows({search: 'applied'})
                    .count();
                $('#studentNumber').text(length)
            });

            
            $('#searchcategory').on('change input', function () {
                oTable.draw();
                var length = oTable
                    .rows({search: 'applied'})
                    .count();
                $('#studentNumber').text(length);
            });

        })
    </script>
{% endblock %}